<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>


        <RollingFile name="InfoFile"
                     fileName="/var/log/JDBC_Connection/application-info.log"
                     filePattern="/var/log/JDBC_Connection/application-info-%d{yyyyMMdd-HHmm}.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Filters>

                <ThresholdFilter level="error" onMatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>


        <RollingFile name="ErrorFile"
                     fileName="/var/log/JDBC_Connection/application-error.log"
                     filePattern="/var/log/JDBC_Connection/application-error-%d{yyyyMMdd-HHmm}.log">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Filters>

                <ThresholdFilter level="error" onMatch="ACCEPT"  />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="10" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="InfoFile" />
        </Root>

        <!-- Error Logger -->
        <Logger name="com.atdxt.BoxApplication" level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ErrorFile" />
        </Logger>

    </Loggers>
</Configuration>
